#mainpage_logo {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	margin-left: 20px;
}

#bodyevent {
	background-image: url(bevent1.jpg);
	margin-top: 3px;

}

#bodySub {
	background-image: url(bchallenge2.jpg);
}

#BodyChalleneg {
	background-image: url(cchallenge.jpg);
}

#BodyPayment {
	background-image: url(bpay.jpg);
}

#bodyss{
	background-image: url(bsuccess.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#BodyCourse {
	background-image: url(bcourses.jpg);
}

#bodycc {
	background-image: url(bcareer.jpg);
}

#BodyAbout {
	background-image: url(babout.jpg);
}

#bodymain {
	width: 98%;
	display: -webkit-box;
	-webkit-box-pack: center;
	background-image: url(bmain.jpg);
}

#BodyScholarship {
	background-image: url(bscholar.jpg);
}

#BodyLogin {
	background-image: url(bLS.jpg);

}

#BodySignIn {
	background-image: url(bLS.jpg);
}

#f {
	text-align: center;
	border-top: 2px solid green;
	font: 16px Tahoma;
	margin-top: 180px;
}


#eventmain {
	max-width: 63%;
	margin: 30px 0px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
}

#img-block {
	max-width: 100%;
	margin: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}

.ie {
	width: 295px;
	height: 210px;
}

.imglogo {
	width: 350px;
	height: 200px;
	border: 1px black solid;
	border-radius: 120px;
}

#eventaside{
	font: bold 24px Times New Roman;
	color: blue;
}

.image {
	color: black;
	font-style: italic;
	text-decoration: underline;
	margin: 20px;
}

#h {
	display: block;
	font-size: 30px;
	padding: 5px;
	text-align: center;
	width: 400px;
	height: 150px;
	background: -webkit-radial-gradient(center,circle,red 0%,orange 50%);
	margin-top: 30px;
	margin-left: 150px;
	-webkit-border-radius: 40px;
	-webkit-box-shadow: rgba(120,120,120,0.6) 8px 8px 8px;
}

#mainss {
	max-width: 90%;
	margin: 30px 0px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
}

#ssblock {
	max-width: 100%;
	margin: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}

#ssaside {
	font-weight: bold;
	color: blue;
	font-size: 24px;
}

#main_cc {
	max-width: 63%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	margin-right: auto;
	margin-left: auto;
	margin-top: 140px;
}

#cctable {
	text-align: center;
	margin-right: 200px;
	font-size: 20px;
}

.cci {
	margin-left: 10px;
	width: 360px;
	height:220px;
	margin-top:180px;
}

.tcc {
	border: 4px solid red;
	border-collapse: collapse;
}

.ttr {
	background-color: white;
}

td, th {
	border: solid 2px black;
}

tbody tr:hover {background-color:yellow;} 

tbody tr:nth-child(even) {
	background-color:green;
	color:white;
}

tfoot td:first-child {
	text-align: right;
}

tfoot{
	font-size: 28px;
	font-weight: bold;
}

#cctable2 {
	font-size: 20px;
	text-align: center;
}

ul {
	list-style-type: circle;
}

header, nav, section, article, hgroup, aside, footer {
	display: block;
}


#top_wrapper{
	max-width: 100%;
	margin: 30px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}

#top_nav {
	background-color: blue;
	color: white;
	border: red;
	margin-top:90px;
	position: sticky;
	top:0;
	overflow: auto;
}


figcaption {
	font-weight: bold;
	font-size: 20px;
	margin-left: 90px;
}

#top_nav li {
	display: inline-block;
	padding: 15px;
	font: 34px Tahoma bold;
	list-style: none;
	margin-right:45px;
	margin-left: 50px;
	color: white;
	opacity: 1.2;
	flex-grow: 0;
	-webkit-transition: -webkit-transform 2s, background 2s, color, opacity 2s, flex-grow;

}

#top_nav li:hover {
	-webkit-transform: rotate(360deg);
	opacity: 2;
	background: #FFFF00; 
	flex-grow: 3;
	color: 	#FF1493;
	cursor: pointer;
}

#new_div {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 100px;
}

#side_news{
	border: 8px double yellow;
	width: 250px;
	height:500px;
	margin-left: 160px;
	padding: 25px;
	background-color: #66CCCC;
	border-radius: 20px;
}

#main_section {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 70px;
}

.mainsec {
	width: 460px;
	height: 300px;
	margin-right: 7px;
	margin-left: 7px;
}

#main_text {
	margin-left:565px;
}

.mainsec2 {
	border: white 5px solid;
	width: 482px;
	height: 300px;
	margin-right: 7px;
	margin-left: 7px;
}

#update {
	font-size: 34px;
	text-decoration: underline;
}

.text {
	font-size: 64px;
	color: white;
	text-align: center;
	text-decoration: underline;
	background-color: #800080;
	border: 1px solid #800080;
	width:fit-content;
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;
	font-style: italic;
}

.form1 {
	text-align: center;
	margin-top: 60px;
	font-size: 24px;
	font-weight: bold;
	color: blue;

}

input[type=password] {
	width: 250px;
    border: 2px solid #ccc;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
}

input[type=text] {
	width: 250px;
    border: 2px solid #ccc;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 50%;
}

input[type=submit] {
	width: 70px;
	height: 40px;
}

input[type=number] {
	width: 80px;
	height: 30px;
}

#country {
	width: 250px;
	height: 40px;
}

.custom-select{
  width: 200px;
  text-align: center;  
}

.para1 {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	color: #FF0080;
	font-weight: bold;
}

.para2 {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	color: #800080;
	font-weight: bold;
	text-decoration: underline;
}

#h31 {
	padding: 10px;
	border: solid black 3px;
	border-radius: 35px;
	width: 120px;
	height: 40px;
	margin: auto;
	text-align: center;
	padding-top:20px;
	color: black;
	font-size: 28px;
	background: -webkit-linear-gradient(45deg,#D4AF37,white);
}

.course_head1 {
	display: block;
	font-size: 24px;
	padding: 3px;
	text-align: center;
	width: 300px;
	background: -webkit-radial-gradient(center,circle,pink 0%,white 50%);
	/*margin: 10px auto;*/
	-webkit-border-radius: 40px;
	-webkit-box-shadow: rgba(120,120,120,0.6) 8px 8px 8px;
}

.course_head2 {
	display: block;
	font-size: 24px;
	padding: 3px;
	text-align: center;
	width: 300px;
	background: -webkit-radial-gradient(center,circle,yellow 0%,white 50%);
	/*margin: 10px auto;*/
	-webkit-border-radius: 40px;
	-webkit-box-shadow: rgba(120,120,120,0.6) 8px 8px 8px;
}

.course_head3 {
	display: block;
	font-size: 24px;
	padding: 3px;
	text-align: center;
	width: 300px;
	background: -webkit-radial-gradient(center,circle,green 0%,white 50%);
	/*margin: 10px auto;*/
	-webkit-border-radius: 40px;
	-webkit-box-shadow: rgba(120,120,120,0.6) 8px 8px 8px;
}

.course_head4 {
	display: block;
	font-size: 24px;
	padding: 3px;
	text-align: center;
	width: 300px;
	background: -webkit-radial-gradient(center,circle,orange 0%,white 50%);
	/*margin: 10px auto;*/
	-webkit-border-radius: 40px;
	-webkit-box-shadow: rgba(120,120,120,0.6) 8px 8px 8px;
}

.paragraph1 {
	border: 2px solid red;
	-webkit-box-flex: 1;
	font-weight: bold;
	font-size: 16px;
	padding: 20px;
	background-color: white;
	width: 300px;
	border-radius: 40px;
}

.list1 {
	border: 2px solid white;
	-webkit-box-flex: 1;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	background-color: yellow;
	width: 300px;
	border-radius: 40px;
}

.img1 {
	width: 350px;
	height: 200px;
}

.h21 {
	border: 2px solid red;
	border-radius: 12px;
	width: 120px;
	color: black;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#course1, #course2, #course3 {
	max-width: 100%;
	margin: 30px 0px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	margin-right: 50px;
	margin-left: 50px;
}

#c11, #c12, #c13, #c21, #c22, #c23, #c31. #c32, #c33, #c14, #c24, #c34 {
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	margin-right: 100px;
}

#main_course {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 100%;
}

#main_scholar {
	max-width: 100%;
	margin: 30px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
}

#scholar_aside {
	margin-right: 250px;
	margin-left: 200px;
	margin-top: 80px;
}

.spara {
	text-align: center;
	margin-top: 80px;
	font-weight: bold;
	font-style: italic;
	color: #dc143c;
	font-size: 30px;
}

.spara1 {
	text-align: center;
	margin-top: 80px;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	border: 2px solid black;
	background: -webkit-linear-gradient(45deg,#800080,white);
	border-radius: 14px;
}

#scholar_image {
	margin-top: 160px;
}

.simg {
	width: 480px;
	height: 280px;
	margin-bottom: 180px;
}

.slist {
	font-size: 20px;
	font-weight: bold;
}

#about_nav {
	background-color: #8B008B;
	color: yellow;
	border: red;
	margin-top:60px;
	position: sticky;
	top:0;
}

#about_nav li {
	display: inline-block;
	padding: 15px;
	font: 34px Tahoma bold;
	list-style: none;
	margin-right:70px;
	margin-left: 60px;
	color: yellow;
	opacity: 1.2;
	-webkit-transition: -webkit-transform 2s, background 2s, opacity 2s;
}

#about_nav li:hover {
	-webkit-transform: rotate(360deg);
	opacity: 2;
	background: #1ec7e6; 
	cursor: pointer;
}

a:hover {
	cursor: pointer;
}

textarea {
	width: 450px;
	height: 150px;
	text-align: center;
	font-size: 20px;
}

.about_header {
	color: #FF0000;
	display: block;
	text-align: centre;
	border: 2px solid black;
	background: -webkit-linear-gradient(45deg,black,white);
	border-radius: 14px;
	width: 400px;
	padding: 5px;
	font-style: italic;
	margin: auto;
}

.about_para{
	border: 2px solid red;
	width: 900px;
	margin: 20px;
	padding: 25px;
	background-color: #98ff98;
	border-radius: 35px;
	font-weight: bold;
	font-size: 20px;
}

.about_m {
	border: 2px solid blue;
	width: 700px;
	margin: 20px;
	padding: 25px;
	background-color: #FFFF99;
	border-radius: 35px;
	font-weight: bold;
	color: #790604;
	font-size: 20px;
}

#about_t {
	border-collapse: collapse;
	border: 5px red solid;
	text-align: center;
	width:600px;
	margin-top: 80px;
}

.attr {
	font-size: 22px;
	background-color: ffe5b4;
}

th {
	font-style: italic;
	font-size: 28px;
}

caption {
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
}

#about1, #about2, #about3, #about4, #about5{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 80px;
}

#about_section1, #about_section2, #about_section3, #about_section4, #about_section5 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin: auto;
}

#about_aside1, #about_aside2, #about_aside3, #about_aside4, #about_aside5 {
	margin: auto;
}

.about_img {
	width: 400px;
	height: 260px;
	border: 4px solid black;
	border-radius: 40px;
}

.about_img1 {
	width: 280px;
	height: 190px;
	border: 3px solid brown;
	border-radius: 40px;
	margin-right: 80px;
	margin-left: 100px;
}

#about6 {
	margin-top: 280px;
	margin-left: 40px;;
}

.challenge_head {
	font-size: 44px;
	color:#FF00FF;
	display: -webkit-box;
	background: -webkit-linear-gradient(45deg,#90EE90,white);
	width:fit-content;
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;

}

.challenge_img {
	width: 400px;
	height: 260px;
	border: 2px solid red;
	border-radius: 20px;
}

.challenge_head2 {
	font-size: 30px;
	color: red;
	display: -webkit-box;
	background: -webkit-linear-gradient(45deg,yellow,white);
	width:70px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 30px;
}

.challeneg_para {
	border: 1px solid black;
	width: 500px;
}

.challenge_list {
	border: 2px #ffcba4 solid;
	margin-left: 400px;
	margin-top: 40px;
	width: 300px;
	background-color:#FFFBCC;
	font-size: 20px;
	font-weight: bold;
}

#cs1, #cs2, #cs3, #cs4, #cs5 {
	max-width: 100%;
	
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 80px;
	margin-left: 180px;
	
}

#challpara {
	color: red;
	font-size: 34px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	border: 1px solid white;
	background-color: white;
	height: 40px;
	border-radius: 20px;
	margin-top: 180px;
}

.form2 {
	text-align: center;
	margin-top: 60px;
	font-size: 24px;
	font-weight: bold;
	color: blue;

}

#submit2 {
	font-size: 34px;
	margin-top: 100px;
	text-align: center;
	color: red;
	font-weight: bold;
	font-style: italic;
}



























